<IfModule mod_rewrite.c>
    RewriteEngine On

   # If you need to turn on https
   # RewriteCond %{HTTPS} !on
   # RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

    RewriteBase /
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>