.divSelectedService{
    color: #fff;
    border-radius: 2px;
    text-align: left;
    padding: 4px 15px;
    background: #007bff;
    margin-left: 4px;

    
}

.input-grados {
    max-width: 100%;
    box-sizing: border-box;     /* Asegura que padding no rompa el layout */
    font-size: 0.9rem;          /* Tamaño de fuente legible */
    text-align: center;
    padding: 0.25em 0.5em;      /* Espacio interno para que el texto no se corte */ 
    min-width: 50px;            /* Asegura un ancho mínimo */
    
}

.table {
    table-layout: fixed;
    width: 100%;
}
.col-md-3 {
    overflow: hidden;
}
.table td {
    padding: 4px;
    vertical-align: middle;
}


img {
    object-fit: contain;
}

