.divSelectedService{
    color: #fff;
    border-radius: 2px;
    text-align: left;
    padding: 4px 15px;
    background: #007bff;
    margin-left: 4px;
}

    .logo-top-right {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 80px; /* Ajusta según el tamaño que quieras */
        height: auto;
        opacity: 0.8; /* para que se vea semitransparente */
    }

    body {
        position: relative; /* necesario para que el absolute funcione dentro del body */
    }


