
.card-text-color{
    font-size: 19px;
    font-weight: 400;
}

.card-service-status .shape{
    width: 200px;
    height: 200px;
    background: var(--theamColor);
    opacity: .2;
    position: absolute;
    border-radius: 40px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 0;
    right: -100px;
}

.card-service-status {
    position: relative;
    overflow: hidden;
}

.card-done .shape{
    background: #28a745  !important;
}

.card-cancel .shape{
    background: #fe3145 !important;
}
.card-pending .shape{
    background: #ffad46 !important;
}

.color-done{
color: #28a745;
}
.color-cancel{
    color: #fe3145;
}
.color-pending{
    color: #ffad46;
}

.fs-18{
    font-size: 18px;
}

.mh-425{
    min-height: 425px;
}

.datatable{
 font-size: 20px;   
}

.cancel-padding{
    padding: 1px 7px;
}
.user-balance span{
    background: #198754;
    border-radius: 50px;
    padding: 3px 14px;
    color: #fff;
}
