.left-side-nav-active{
    border-left: 2px solid var(--theamColor);
    background: #f2f7ff;
    border-radius: 5px;
}
.div-profile-image{
    width: 100%;
}
.profile-image{
    width: 70px;
    object-fit: cover;
    height: 70px;
    border-radius: 60px;
}
.leftside-menu .card .lm-shape, .leftside-menu .card .lm-shape2 {
    width: 200px;
    height: 200px;
    background: var(--theamColor);
    opacity: .1;
    position: absolute;
    border-radius: 40px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.leftside-menu .card .lm-shape2 {
    bottom: 0;
    left: -100px;
}
.leftside-menu .card .lm-shape {
    top: 0;
    right: -100px;
}


.leftside-menu .card {
    position: relative;
    overflow: hidden;
    height: 550px;
    padding:20px;
}

    .client-menu-icon{
        color: #64707e;
    }
   
    .leftside-menu .nav-item a{
    color: #242627;
    font-size: 14px;
    }

.leftside-menu .nav-item:hover{
    border-left: 2px solid var(--theamColor);
    font-size: 16px;
    background: #f2f7ff;
    border-radius: 5px;
}
.nav-item a:hover{
   font-weight: 300;
}

.card-box-shadow{
    box-shadow: 0px 0px 30px 0px rgb(0 42 106 / 10%);
    border:none;
}
.table thead th{
    font-weight: 500;
    color: #5e5e5e;
}